<footer class="footer-main">
    <!--
    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
    -->

    <p>這裡是shyton的無聊天地，無聊天地為國小階段與另外兩個朋友一起繪製的一本塗鴉，期許這個網頁能成為我無聊發洩的塗鴉本。</p>
</footer>
